body {
    /*background-image: url("https://media.istockphoto.com/vectors/brown-wood-texture-background-vector-id1090359792?b=1&k=6&m=1090359792&s=612x612&w=0&h=JxwERGGl94uebFivZm4sHb9B0x_9p_0YuIHgk2bpiDI=");*/
    background-attachment: fixed;
    background-color: #f2debf;
    padding: 50px;
    font-family: 'Roboto Mono', monospace;
    color: black;
    }

a{
  color:gray;
}
a:hover{
  color:green;
}
    
#border_white{ /*white border for some p pragraph with around corner*/
	text-align:left; 
  border: 1px solid gray;
  border-radius: 8px;
  padding:50px;
  background: white;
  border-collapse: 100px;
}

#lb1{ /* properties of label*/
  line-height: 26px;
  margin-bottom: 20px;
  display: flex;
  width: 400px; 
}

input { /* properties of textfield*/
  height: 20px;
  flex:0 0 100px;
  margin-left:30px;  
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////tables///////////////////////////////////////////////////////////////////*/

table{ /*table with around corner*/
  width: 100%;
  border: 1px solid gray;
  border-radius: 8px;
  background: white;
  border-collapse: separate;
  -moz-border-radius:8px;
}

th,td{
  padding: 8px;
  text-align: left;
}
#bottom_border{/*bottom border for shopping cart page*/
  border-bottom: 1px solid lightgray;
}

#td_th{/* left border*/
  border-left: 1px solid lightgray;
  padding: 10px;
}
/*///////////////////////////////////tables/////////////////////////////////////////*/


/*////////////////////////////////////button////////////////////////////////////////*/
#button{ /* button of login page */
  background-color: white;
  color:black;
  border:2px solid black;
  padding: 15px 20px 30px 20px;
  font-size: 16px;
  text-align: center;
  margin: 4px 2px;
}
#button:hover{
  background-color: lightgray;
  color:white;
  border:2px solid black;
}

#button_div{ /* button of shoping cart page  */
  background-color: white;
  color:black;
  border:2px solid black;
  padding: 15px 20px 30px 20px;
  font-size: 16px;
  text-align: center;
  margin: 4px 2px;
  float:right;
  left:85%;
  position:absolute; 
}
#button_div:hover{
  background-color: lightgray;
  color:white;
  border:2px solid black;
}


#div_account{ /* button of Account page */
  background-color: white;
  color:black;
  border:2px solid black;
  padding: 15px 20px 30px 20px;
  font-size: 16px;
  text-align: center;
  margin: 4px 2px;

  float:right;
  left:78%;
  position:static; 
}

#div_account:hover{
  background-color: lightgray;
  color:white;
  border:2px solid black;
}
/*////////////////////////////////////button////////////////////////////////////////*/


/*////////////////////////////////////text align & table in center login page//////////////////////////////////*/
#login{ 
  text-align: center; 
}

#table_width{ width: 50px; 
  margin-left:auto;
  margin-right:auto; 
  }
/*////////////////////////////////////text align & table in center login page//////////////////////////////////*/

